{% extends "layout.html" %}

{% block content %}

    <h1 style="margin-bottom:50px">予約申請</h1>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}

    <h2>日付：　{{ book_date }}（{{ book_wday }}）<br>
        時限：　{{ book_lecture.lecture }}<br>
        教室名：　{{ book_classroom }}</h2>

    <form method="post">
        <div class="form-group">
            <label>予約名義</label>
            <input type="text" class="form-control" name="book_group">
        </div>
        <div class="form-group">
            <label>予約内容</label>
            <input type="text" class="form-control" name="book_matter">
        </div>
        <button type="submit" class="btn btn-primary">申請する</button>
    </form>

{% endblock %}